/* Variáveis CSS */
:root {
    --primary-color: #007bff;
    --background-color: #ffffff;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    --text-color: #333;
    --header-bg: #007BFF;
    --footer-bg: #797979;
    --submenu-bg: #007BFF;
    --submenu-border: #ffffff;
}

/* Reset de Margens e Padding */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Layout Flexível para o Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

header {
    background: #007BFF;
    color: white;
    padding: 20px;
}

.header2 {
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
}

/* Breadcrumb */
.breadcrumb {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 16px;
    color: #666;
    margin-top: -10px;
    padding-right: 174vh;
}

.breadcrumb {
    margin-top: 40px;
    margin-bottom: 0px;
}

.breadcrumb a {
    color: #1a73e8;
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .separator {
    margin-right: 5px;
}

/* Divisor */
.divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px auto;
    width: 93%;
}

/* Footer */
footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 54%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
}



.form-group {
    width: 100%;
    max-width: 500px;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

label {
    width: 30%;
    margin-right: 0px;
}

input,
textarea {
    color: #383838;
    font-family: Arial;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 600px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 50px 0;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#message-box {
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
}